 *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body
{
    height:100%;
    ::-webkit-scrollbar {
        display: none;
    }
}

.slides
{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    background: black;
    overscroll-behavior: contain;
}

.slide img .BG_Pic
{
    display:none;
}

.slide
{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;

    display:flex;
    flex-shrink:0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide-title
{
    position: absolute;
    left: 10%;
    top: 7%;
}

.slide:nth-child(1)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(2)
{
    background-image: url("img/grun.png");
}

.slide:nth-child(3)
{
    background-image: url("img/Gelb2.png");
}
.slide:nth-child(4)
{
    background-image: url("img/Orange2.png");
}

.slide:nth-child(5)
{
    background-image: url("img/Gelb2.png");
}

.slide:nth-child(6)
{
    background-image: url("img/Rosa2.png");
}
.slide:nth-child(7)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(8)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(9)
{
    background-image: url("img/Rot2.png");
}
.slide:nth-child(10)
{
    background-image: url("img/Orange2.png");
}

.slide:nth-child(11)
{
    background-image: url("img/Gelb2.png");
}




.info-box
{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.info-btn
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #222;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    z-index: 500;
}

.info-btn:hover
{
    background: #555;
}

.info-popup
{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 220px;
    padding: 12px;
    border-radius: 10px;
    background: white;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 14px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.info-popup.active
{
    display: block;
}



















 
.slide-title
{
    font-size: 4rem;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    color: #BC0000;
}

.slide-text
{
    text-align: left;
    font-size: 1.5rem;
    font-family: Gloria Hallelujah;
    max-width: 700px;
    font-weight: bold;
}

#T1
{
    position: absolute;
    width: 40%;
    left: 10%;
    top: 20%;
}

#T2
{
    position: absolute;
    left: 25%;
    bottom: 20%;
}

#T3
{
    position: absolute;
    width: 30%;
    left: 40%;
    top: 15%;
}

#T4
{
    position: absolute;
    right: 15%;
    bottom: 20%;
}

#T6
{
    position: absolute;
    left: 25%;
    bottom: 45%;
    max-width: 20%;
    transform: rotate(-8deg);
}

#T7
{
    position: absolute;
    width: 30%;
    left: 20%;
    top: 20%;
    transform: rotate(5deg);
}

#T8
{
    position: absolute;
    bottom: 25%;
}

#T9
{
    position: absolute;
    font-size: 0.8em;
    max-width: 75%;
}

#T10
{
    position: absolute;
    width: 30%;
    left: 25%;
    bottom: 20%;
    transform: rotate(-5deg);
}

#T11
{
    position: absolute;
    top: 22%;
    left: 20%;
}

#T12
{
    position: absolute;
    bottom: 20%;
    left: 35%;
    transform: rotate(-5deg);
}

#T13
{
    position: absolute;
    top: 26%;
    left: 20%;
}

#T14
{
    position: absolute;
    top: 12%;
    left: 32%;
}
#T15
{
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotate(-5deg);
    max-width: 30%;
}

#T16
{
    position: absolute;
    top: 20%;
    right: 10%;
    transform: rotate(5deg);

}

#T17
{
    position: absolute;
    top: 42%;
    left: 35%;
    max-width: 30%;
    opacity: 0;
    transition: opacity 1s ease;
}

#T17.show
{
    opacity: 1;
}

#T18
{
    position: absolute;
    top: 25%;
    left: 10%;
    color: #BC0000;
    transform: rotate(5deg);
}

#T19
{
    position: absolute;
    bottom: 20%;
    left: 10%;
}
#T20
{
    font-size: 2.5em;
    position: absolute;
    top: 10%;
    left: 30%;
}

#T21
{
    font-size: 2.5em;
    position: absolute;
    top: 10%;
    right: 30%;
}

#T22
{
    position: absolute;
    left: 35%;
    top: 25%;
    font-size: 1.4em;
    max-width: 30%;
}

#T23
{
    position: absolute;
    right: 40%;
    bottom: 15%;
    max-width: 30%;
}

#T24
{
    position: absolute;
    right: 25%;
    top: 25%;
    max-width: 30%;
}

#T25
{
    position: absolute;
    right: 45%;
    top: 55%;
}


.infobit
{
    padding-top: 35%;
    padding-left: 15%;
    position: absolute;
    bottom: 30%;
    left: 0%;
    z-index: 5;
    animation: sway 3s ease-in-out infinite alternate;
}

.infobit2
{
    padding-top: 35%;
    padding-left: 15%;
    position: absolute;
    bottom: 35%;
    left: 0%;
    z-index: 5;
    animation: sway 3s ease-in-out infinite alternate;
}

.infobit3
{
    padding-top: 35%;
    padding-left: 15%;
    position: absolute;
    bottom: 20%;
    left: -2%;
    z-index: 5;
}

.infobit4
{
    padding-top: 35%;
    padding-left: 15%;
    position: absolute;
    bottom: 64%;
    left: -5%;
    z-index: 5;
}

.infobit5
{
    padding-top: 35%;
    padding-left: 15%;
    position: absolute;
    bottom: 5%;
    left: 0%;
    z-index: 2;
}

.infobit6
{
    padding-top: 0%;
    padding-left: 0%;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 2;
}



.cpu_ripped
{
    width: 400px;
    height: 433px;
    position: absolute;
    top: 10%;
    right: 2%;
    z-index: 5;
    animation: sway 3s ease-in-out infinite alternate;
}


.cpu_ripped2
{
    width: 400px;
    height: 433px;
    position: absolute;
    bottom: 15%;
    right: 8%;
    z-index: 5;
}


.router_ripped
{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 5;
}

.router_ripped2
{
    width: 350px;
    height: 540px;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 5;
}

#Asteroid_big
{
    position: absolute;
    top: 40%;
    left: 100vw;
    width: 400px;
    pointer-events: none;

    animation: flyAsteroid1 4s linear infinite;
}

#Asteroid_middle
{
    position: absolute;
    top: 34%;
    left: 100vw;
    width: 200px;
    pointer-events: none;

    animation: flyAsteroid1 2.8s linear infinite;
}

#Asteroid_middle1
{
    position: absolute;
    top: 62%;
    left: 100vw;
    width: 200px;
    pointer-events: none;

    animation: flyAsteroid2 2.8s linear infinite;
    animation-delay: 0.25s;
}

#Asteroid_small
{
    position: absolute;
    top: 45%;
    left: 100vw;
    width: 150px;
    pointer-events: none;

    animation: flyAsteroid3 2s linear infinite;
    animation-delay: 0.5s;
}

#Asteroid_small1
{
    position: absolute;
    top: 75%;
    left: 100vw;
    width: 150px;
    pointer-events: none;

    animation: flyAsteroid3 2.5s linear infinite;
}

#Asteroid_small2
{
    position: absolute;
    top: 62%;
    left: 100vw;
    width: 150px;
    pointer-events: none;

    animation: flyAsteroid3 2s linear infinite;
    animation-delay: 1ds;
}

#plane
{
    position: absolute;
    bottom: 25%;
    left: 0%;
    z-index: 5;
    animation: sway_plane 1.2s ease-in-out infinite alternate;
}

#plane2
{
    position: absolute;
    bottom: 50%;
    left: 0%;
    z-index: 5;
    animation: sway_plane 3s ease-in-out infinite alternate;
}

#plane_static
{
    position: absolute;
    width: 450px;
    bottom: 15%;
    left: 10%;
    z-index: 5;
    transform: rotate(-10deg);
}

#Server_as_RippedPaper
{
    position: absolute;
    width: 350px;
    top: 30%;
    right: 5%;
}

#letter
{
    position: absolute;
    top: 50%;
    right: 15%;
    width: 120px;
    transform: rotate(45deg);
    transition: transform 1.5s ease, right 1.5s ease;
    cursor: pointer;
}

#virus
{
    position: absolute;
    width: 400px;
    bottom: 10%;
    left: 10%;
    animation: move_from_to 2s ease-in-out infinite alternate;
}

#virus2
{
    position: absolute;
    width: 400px;
    bottom: 15%;
    left: 15%;
}

#dragon
{
    position: absolute;
    z-index: 4;
    width: 500px;
    top: 25%;
    right: 8%;
    animation: sway 3s ease-in-out infinite alternate;
}

#dragon_static
{
    position: absolute;
    z-index: 4;
    width: 500px;
    top: 25%;
    right: 8%;
}



.mo-fire
{
    transform: rotate(-100deg) translateX(-48rem) scale(2.2);
    z-index: 5;
    padding-right: 0;
    width: 30%;
    height: 25%;
    position: absolute;
    bottom: 105%;
    left: 30%;
}

.flame
{
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
}


.flame.one
{
    animation-delay: 1s;
    animation-duration: 3s;
}

.flame3.two
{
    animation-duration: 5s;
    animation-delay: 1s;
}

.flame-main
{
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flame-main.one
{
    animation-duration: 4s;
    animation-delay: 1s;
}

.flame-main.two
{
    animation-duration: 3s;
    animation-delay: 2s;
}

.flame-main.three
{
    animation-duration: 2.1s;
    animation-delay: 3s;
}

.flame-main.four
{
    animation-duration: 3.2s;
    animation-delay: 4s;
}

.flame-main.five
{
    animation-duration: 2.5s;
    animation-delay: 5s;
}

@keyframes flameWobble
{
    50%
    {
        transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
    }
}

@keyframes flamefly
{
    0%
    {
        transform: translate(0) rotate(180deg);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: translate(-20px, -100px) rotate(180deg);
        opacity: 0;
    }
}










.text-red
{
    color:#BC0000;
}

.text-black
{
    color:black;
}


#skipBtn
{
    position: absolute;
    bottom: 10%;
    right: 10%;
    background: #c50000;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
    cursor: pointer;
    z-index: 999;
    transition: 0.3s;
}

#skipBtn:hover
{
    transform: scale(1.05);
    background-color: #8d0000;
}


.flip-card
{
    position: absolute;
    top: 15%;
    right: 8%;
    width: 300px;
    height: 500px;
    perspective: 1200px;
    transform: rotate(2deg);
}

.flip-card2
{
    position: absolute;
    top: 15%;
    right: 20%;
    width: 350px;
    height: 500px;
    perspective: 1200px;
}

.Pfeil
{
    filter: invert(15%) sepia(51%) saturate(5583%) hue-rotate(353deg) brightness(90%) contrast(120%);
    position: absolute;
    left: 25%;
    top: 15%;
    z-index: 5;
    transform: rotate(30deg);
    width: 80px;
}

.Pfeil2
{
    filter: invert(15%) sepia(51%) saturate(5583%) hue-rotate(353deg) brightness(90%) contrast(120%);
    position: absolute;
    right: 25%;
    top: 15%;
    z-index: 6;
    transform: rotate(270deg);
    width: 80px;
}

.switch_ripped2
{
    width: 350px;
    height: 540px;
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 6;
}

#T22, #T23
{
    opacity: 0;
    pointer-events: none;
    transition: all 1.2s ease;
}

#click_on_S
{
    opacity: 0;
    pointer-events:none;
}

#click_on_S.active
{
    opacity: 1;
    pointer-events:auto;
}

.show
{
    opacity: 1 !important;
    pointer-events: auto;
}

.infobitMove
{
    bottom: 5%;
    left: 50%;
    transition: all 2s ease;
}

.clicked
{
    transition: transform 0.5s;
}




/*Animations*/
@keyframes sway
{
    from
    {
        transform: rotateZ(5deg);
    }
    to
    {
        transform: rotateZ(-5deg);
    }
}

.flip-inner
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.2s;
}

.flip-card:hover .flip-inner
{
    transform: rotateY(180deg);
}

.flip-front,
.flip-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flip-front img
{
    width: 100%;
}

.flip-back
{
    transform: rotateY(180deg);
    background: rgb(10, 175, 60);
    border-radius: 20px;
    padding: 20px;
}

.flip-inner2
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.2s;
}

.flip-card2.flipped .flip-inner2
{
    transform: rotateY(180deg);
}

.flip-front2,
.flip-back2
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flip-front2 img
{
    width: 100%;
}

.flip-back2
{
    transform: rotateY(180deg);
    background: rgb(255, 217, 0);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 18%;
}

@keyframes flyAsteroid1
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-95vw);
    }
}

@keyframes flyAsteroid2
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100vw);
    }
}

@keyframes flyAsteroid3
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100vw);
    }
}


@keyframes sway_plane
{
    from
    {
        transform: rotateZ(-10deg);
    }
    to
    {
        transform: rotateZ(20deg);
    }
}


@keyframes move_from_to
{
    from
    {
        transform: translateX(100%);
    }
    to
    {
        transform: translate(-10%);
    }
}

@keyframes move_from_to2
{
    from
    {
        transform: translateX(60%);
    }
    to
    {
        transform: translate(-10%);
    }
}

#letter.fly
{
    right: 65%;
    transform: rotate(45deg) translateX(-250px, 200px);
}

.nxt
{
    width: 1.4%;
    position: absolute;
    right: 1%;
    top: 50%;
    z-index: 40;
}

.lst
{
    width: 1.4%;
    position: absolute;
    transform: rotate(180deg);
    left: 1%;
    top: 50%;
    z-index: 40;
}

.env2
{
    position: absolute;
    width: 200px;
    top: 45%;
    right: 25%;
    z-index: 6;
}





















/*Moblie view*/

@media (max-width: 768px){

    .slide-title
    {
        font-size: 2rem;
        left: 5%;
        top: 8%;
    }

    .slide-text
    {
        font-size: 1rem;
        max-width: 90%;
    }

    #T1
    {
        width: 85%;
        left: 7%;
        top: 18%;
    }

    #T2
    {
        left: 10%;
        bottom: 40%;
    }

    #T3
    {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 60%;
    }

    #T4
    {
        position: absolute;
        right: 15%;
        bottom: 20%;
    }

    #T6
    {
        position: absolute;
        left: 10%;
        bottom: 60%;
        max-width: 20%;
        transform: rotate(-8deg);
    }

    #T7
    {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 15%;
        transform: rotate(5deg);
    }

    #T9
    {
        position: absolute;
        left: 22%;
        font-size: 0.8em;
        max-width: 65%;
    }

    #T10
    {
        position: absolute;
        left: 50%;
        transform: rotate(2deg);
        width: 40%;
    }
    #T11
    {
        color:#a80000;
        position: absolute;
        top: 15%;
        left: 5%;
    }

    #T12
    {
        position: absolute;
        width: 120%;
        bottom: 20%;
        left: 10%;
        transform: rotate(-12deg);
    }

    #T13
    {
        position: absolute;
        max-width: 54%;
        top: 18%;
        left: 5%;
    }

    #T14
    {
        position: absolute;
        top: 14%;
        left: 5%;
    }


    #T15
    {
        position: absolute;
        top: 22%;
        left: 10%;
        transform: rotate(-5deg);
        max-width: 80%;
    }

    #T16
    {
        color: #BC0000;
        position: absolute;
        top: 10%;
        right: 10%;
        transform: rotate(5deg);
        max-width: 30%;
    }

    #T17
    {
        position: absolute;
        top: 65%;
        left: 10%;
        max-width: 80%;
        opacity: 0;
        transition: opacity 1s ease;
    }
    #T18
    {
        position: absolute;
        top: 20%;
        left: 10%;
        max-width: 80%;
        color: #BC0000;
        transform: rotate(5deg);
    }
    
    #T19
    {
        color: #BC0000;
        max-width: 80%;
    }

    #T17.show
    {
        opacity: 1;
    }
    
    #plane_static
    {
        position: absolute;
        width: 200px;
        bottom: 40%;
        left: 0%;
        z-index: 5;
        transform: rotate(-10deg);
    }

    #Server_as_RippedPaper
    {
        position: absolute;
        width: 150px;
        top: 45%;
        right: 5%;
    }

    #letter
    {
        position: absolute;
        top: 40%;
        right: 15%;
        width: 80px;
        transform: rotate(45deg);
        transition: transform 1.5s ease, right 1.5s ease;
        cursor: pointer;
    }








    .flip-card
    {
        position: absolute;
        top: 15%;
        right: 5%;
        width: 300px;
        height: 500px;
        perspective: 1200px;
        transform: rotate(2deg);
    }

    .cpu_ripped
    {
        width: 180px;
        height: auto;
        top: 35%;
        right: 25%;
    }

    .router_ripped
    {
        width: 180px;
        height: 280px;
        position: absolute;
        top: 35%;
        left: 4%;
        z-index: 5;
    }

    .infobit
    {
        width: 40%;
        bottom: 20%;
        left: 5%;
    }

    .infobit2
    {
        width: 40%;
        bottom: 40%;
        left: -5%;
    }
    .infobit4
    {
        padding-top: 35%;
        padding-left: 15%;
        position: absolute;
        top: -5%;
        left: 54%;
        z-index: 5;
    }

    .text-red
    {
        color:black;
    }

    #virus
    {
        position: absolute;
        width: 150px;
        bottom: 45%;
        left: 5%;
        animation: move_from_to2 2s ease-in-out infinite alternate;
    }

    #virus2
    {
        position: absolute;
        width: 150px;
        bottom: 45%;
        left: 5%;
    }

    #dragon
    {
        position: absolute;
        width: 180px;
        top: 35%;
        right: 5%;
        animation: sway 3s ease-in-out infinite alternate;
    }

    .mo-fire
    {
        transform: rotate(-100deg) translateX(-48rem) scale(0.8);
        z-index: 5;
        padding-right: 0;
        width: 30%;
        height: 25%;
        position: absolute;
        bottom: 122%;
        left: -5%;
    }












    #skipBtn
    {
        position: absolute;
        bottom: 10%;
        right: 15%;
        background: #d50000;
        color: white;
        border: none;
        padding: 15px 35px;
        font-size: 1.2rem;
        border-radius: 40px;
        font-family: 'Gloria Hallelujah', cursive;
        font-weight: 600;
        cursor: pointer;
        z-index: 999;
        transition: 0.3s;
    }

    .flip-card:active .flip-inner
    {
        transform:rotateY(180deg);
    }

    .flip-inner
    {
        width: 80%;
        height: 80%;
        position: absolute;
        right: 5%;
        transform-style: preserve-3d;
        transition: transform 1.2s;
    }

    .flip-front,
    .flip-back
    {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .flip-front img
    {
        width: 100%;
    }

    .flip-back
    {
        transform: rotateY(180deg);
        background: rgb(10, 175, 60);
        border-radius: 20px;
        padding: 20px;
    }









        
    .flip-card2
    {
        position: absolute;
        top: 18%;
        right: 0%;
        width: 300px;
        height: 500px;
        perspective: 1200px;
    }

    .flip-inner2
    {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1.2s;
    }

    .flip-card2.flipped .flip-inner2
    {
        transform:rotateY(180deg);
    }

    .flip-front2,
    .flip-back2
    {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .flip-front2 img
    {
        width: 100%;
    }

    .flip-back2
    {
        transform: rotateY(180deg);
        background:rgb(255, 217, 0);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        padding: 40px;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
        bottom: 20%;
        left: 5%;
    }

    #Asteroid_big
    {
        position: absolute;
        top: 50%;
        left: 50vw;
        width: 250px;
        pointer-events: none;

        animation: flyAsteroid1 2s linear infinite;
    }

    #Asteroid_middle
    {
        position: absolute;
        top: 42%;
        left: 100vw;
        width: 150px;
        pointer-events: none;

        animation: flyAsteroid1 2.8s linear infinite;
    }

    #Asteroid_middle1
    {
        position: absolute;
        top: 62%;
        left: 100vw;
        width: 150px;
        pointer-events: none;

        animation: flyAsteroid2 2.8s linear infinite;
        animation-delay: 0.25s;
    }

    #Asteroid_small
    {
        position: absolute;
        top: 45%;
        left: 100vw;
        width: 150px;
        pointer-events: none;

        animation: flyAsteroid3 2s linear infinite;
        animation-delay: 0.5s;
    }

    #Asteroid_small1
    {
        position: absolute;
        top: 75%;
        left: 100vw;
        width: 150px;
        pointer-events: none;

        animation: flyAsteroid3 2.5s linear infinite;
    }

    #Asteroid_small2
    {
        position: absolute;
        top: 62%;
        left: 100vw;
        width: 150px;
        pointer-events: none;

        animation: flyAsteroid3 2s linear infinite;
        animation-delay: 1ds;
    }

    #plane
    {
        position:absolute;
        width: 60%;
        bottom: 30%;
        left: -2%;
        z-index: 5;
        animation: sway_plane 1.2s ease-in-out infinite alternate;
    }

    #letter.fly
    {
        right: 65%;
        transform: rotate(45deg) translateX(-200px, 200px);
    }

    #dragon_static
    {
        position: absolute;
        z-index: 4;
        width: 200px;
        top: 30%;
        right: 8%;
    }

    #plane2
    {
        position: absolute;
        width: 250px;
        top: 15%;
        left: 0%;
        z-index: 5;
        animation: sway_plane 3s ease-in-out infinite alternate;
    }

    #T20
    {
        font-size: 1.1em;
        position: absolute;
        top: 12%;
        left: 65%;
        color: #BC0000;
    }

    #T21
    {
        font-size: 1.1em;
        color: #BC0000;
        position: absolute;
        top: 46%;
        right: 28%;
    }

    #T22
    {
        position: absolute;
        color: #BC0000;
        left: 60%;
        top: 16%;
        font-size: 0.8em;
        max-width: 35%;
    }

    #T23
    {
        position: absolute;
        color: #BC0000;
        font-size: 0.8em;
        right: 50%;
        bottom: 30%;
        max-width: 40%;
    }

    .infobit5
    {
        position: absolute;
        width: 180px;
        bottom: 20%;
        left: 0%;
        z-index: 2;
    }
    .router_ripped2
    {
        width: 220px;
        height: 300px;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 5;
    }
    .Pfeil
    {
        filter: invert(15%) sepia(51%) saturate(5583%) hue-rotate(353deg) brightness(90%) contrast(120%);
        position: absolute;
        left: 55%;
        top: 14%;
        z-index: 5;
        transform: rotate(30deg);
        width: 24px;
    }

    .Pfeil2
    {
        filter: invert(15%) sepia(51%) saturate(5583%) hue-rotate(353deg) brightness(90%) contrast(120%);
        position: absolute;
        right: 18%;
        top: 48%;
        z-index: 6;
        transform: rotate(290deg);
        width: 24px;
    }

    .switch_ripped2
    {
        width: 200px;
        height: 250px;
        position: absolute;
        top: 50%;
        right: 0%;
        z-index: 6;
    }

    #T22, #T23
    {
        opacity: 0;
        pointer-events: none;
        transition: all 1.2s ease;
    }

    #click_on_S
    {
        opacity: 0;
        pointer-events:none;
    }

    #click_on_S.active
    {
        opacity: 1;
        pointer-events:auto;
    }

    .show
    {
        opacity: 1 !important;
        pointer-events: auto;
    }

    .infobitMove
    {
        bottom: 20%;
        left: 60%;
        transition: all 2s ease;
        visibility: collapse;
    }

    .clicked
    {
        transition: transform 0.5s;
    }
    .nxt
    {
        visibility: hidden;
    }
    .lst
    {
        visibility: hidden;
    }
    .infobit6
    {
        padding-top: 0%;
        padding-left: 0%;
        position: absolute;
        top: 15%;
        right: -20%;
        z-index: 2;
    }
    .cpu_ripped2
    {
        width: 200px;
        height: 220px;
        position: absolute;
        bottom: 20%;
        right: 8%;
        z-index: 5;
    }
    .env2
    {
        position: absolute;
        width: 100px;
        top: 45%;
        right: 25%;
        z-index: 6;
    }
    #T24
    {
        position: absolute;
        right: 10%;
        top: 15%;
        max-width: 45%;
        color: #BC0000;
    }

    #T25
    {
        position: absolute;
        right: 20%;
        top: 48%;
    }



}