 *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height:100%;
}

.slides
{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    background: black; /* Hintergrund für Balken */
}

.slide img .BG_Pic
{
    display:none;
}

.slide
{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}

.slide-title
{
    position: absolute;
    left: 10%;
    top: 7%;
}

.slide:nth-child(1)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(2)
{
    background-image: url("img/grun.png");
}

.slide:nth-child(3)
{
    background-image: url("img/Gelb2.png");
}
.slide:nth-child(4)
{
    background-image: url("img/Orange2.png");
}

.slide:nth-child(5)
{
    background-image: url("img/Gelb2.png");
}

.slide:nth-child(6)
{
    background-image: url("img/Rosa2.png");
}
.slide:nth-child(7)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(8)
{
    background-image: url("img/Rot2.png");
}

.slide:nth-child(9)
{
    background-image: url("img/Rot2.png");
}
.slide:nth-child(10)
{
    background-image: url("img/Orange2.png");
}

.slide:nth-child(11)
{
    background-image: url("img/Gelb2.png");
}


 
.slide-title
{
    font-size: 4rem;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    color: #BC0000;
}

.slide-text
{
    text-align: left;
    font-size: 1.5rem;
    font-family: Gloria Hallelujah;
    max-width: 700px;
    font-weight: bold;
}

#T1
{
    position: absolute;
    width: 40%;
    left: 10%;
    top: 20%;
}

#T2
{
    position: absolute;
    left: 33%;
    bottom: 15%;
}

.infobit
{
    padding-top: 30%;
    padding-left: 20%;
    position:absolute;
    bottom: 30%;
    left: 0%;
    z-index:5;
    animation: sway 3s ease-in-out infinite alternate;
}

.cpu_ripped
{
    width: 400px;
    height: 433px;
    position:absolute;
    top: 10%;
    right: 2%;
    z-index:5;
    animation: sway 3s ease-in-out infinite alternate;
}

.text-red
{
    color:#BC0000;
}

.text-black
{
    color:black;
}


/*Animations*/
@keyframes sway
{
    from
    {
        transform: rotateZ(5deg);
    }
    to
    {
        transform: rotateZ(-5deg);
    }
}


/*Moblie view*/

@media (max-width: 768px){

    .slide-title
    {
        font-size: 2rem;
        left: 5%;
        top: 8%;
    }

    .slide-text
    {
        font-size: 1rem;
        max-width: 90%;
    }

    #T1
    {
        width: 85%;
        left: 7%;
        top: 18%;
    }

    #T2
    {
        left: 10%;
        bottom: 35%;
    }

    .cpu_ripped
    {
        width: 180px;
        height: auto;
        top: 35%;
        right: 25%;
    }

    .infobit
    {
        width: 40%;
        bottom: 20%;
        left: 5%;
    }

    .text-red
    {
        color:black;
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
    }
}